<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('partial/navbar') %> <!-- including navbar -->
    <h1>Dashboard</h1>
    
    <!-- macro overview section -->
    <section id="macros">
      <div class="macro-box">
        <h3>Calories</h3>
      </div>

      <div class="macro-box">
        <h3>Protein</h3>
      </div>

      <div class="macro-box">
        <h3>Carbs</h3>
      </div>

      <div class="macro-box">
        <h3>Fat</h3>
      </div>
    </section>

  </body>
</html>
