<!DOCTYPE html>
<html>
  <head>
    <title>Recipes</title>
    <link rel='stylesheet' href='/stylesheets/recipes.css' />
  </head>
  <body>
    <%- include('partial/navbar') %> <!-- including navbar -->
    <h1>Recipes</h1>
    <button id="create-button" type="button">+ New Recipe</button>

    <section id="recipe-grid">
      <div class="recipe">
        <h3>Name</h3>
      </div>
    </section>

  </body>
</html>
