<!DOCTYPE html>
<html>

<head>
    <title>Signup</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Signup</h1>

    <form>
        <label for="Username">Username</label>
        <input type="text" id="username">

        <label for="Email">Email</label>
        <input type="text" id="email">

        <label for="Password">Password</label>
        <input type="password" id="password">

        <label for="Confirm Password">Confirm Password</label>
        <input type="password" id="confirm-password">

        <button type="submit">Create</button>
    </form>
    <p>Already have an account? <a href="/auth/login">Login</a></p>

</body>

</html>