@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    font-family: 'Inter', sans-serif;
}

nav {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 80px;
    border-bottom: 2px solid #E5E7EB;

    display: flex;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
}

nav h1 {
    margin: 0;
    font-size: x-large;
    color: #111827;
}

nav ul {
    list-style-type: none;
}

nav li {
    text-decoration: none;
    display: inline;
    padding: 20px;
    color: #1F2837;
    font-weight: 500;
    font-size: medium;
}

a {
    color: #1F2837;
    text-decoration: none;
}