body {
  padding: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F9FAFB;
}

a {
  color: #00B7FF;
}

/* divide macros into four sections */
#macros {
  column-count: 4;
}

.macro-box {
  background-color: white;
  border-radius: 8px;
  border: 1.5px solid #E5E7EB;
}

.macro-box h3 {
  margin-left: 15px;
}
