<link rel='stylesheet' href='/stylesheets/navbar.css'/>

<!-- navbar contents -->
<nav>
    <h1>MealPrep</h1>

    <!-- navigation -->
    <ul>
        <li>Dashboard</li>
        <li>Recipes</li>
        <li>Groceries</li>
        <li>Progress</li>
        <li>Settings</li>
      </ul>
</nav>